MONGODB_URI=mongodb://127.0.0.1:27017/databasename
SESSION_SECRET=averylongstringofrandomcharcters
TOKEN_SECRET=anotherverylongstringofrandomcharcters
GITHUB_CLIENTID=githuboauthappclientid
GITHUB_CLIENTSECRET=githuboauthappclientsecret
OPENCOLLECTIVE_API_KEY=opencollective.comapikey
STRIPE_PUBLISHABLE_KEY=pk_publishablekey
STRIPE_SECRET_KEY=sk_secretkey
STRIPE_PAYMENT_DESCRIPTION=FundOSS
STRIPE_WEBHOOK_SECRET=whsec_1234
MIN_PAYMENT=2
MAX_PAYMENT=20000 
ADMINS=githubusername,anothergithubusername
GHOST_URL=https://app.fundoss.org/blog
GHOST_READ_KEY=1283386a7523d0e2da4eb3e2da
GHOST_ADMIN_KEY=
MAILGUN_DOMAIN=fundoss.org
MAILGUN_API_KEY=
GOOGLE_ANALYTICS=