{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "import/extensions": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off"

  },
  "overrides": [{
    "files": ["*.jsx"],
    "plugins": ["eslint-plugin-jsx-a11y"],
    "extends": [
      "plugin:react/recommended"
    ],
    "parserOptions": {
      "ecmaversion": 2018,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },

    /**
     * Typescript Rules
     */
    "rules": {
      "react/prop-types": "off",
      "@typescript-eslint/explicit-module-boundary-types": "off",
      "no-undef":"off"
    }
  }]
  
}
