.bg1{
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='2626' height='994' viewBox='0 0 2626 994' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.13' d='M4 0H2625.5L4 648V0Z' fill='url(%23paint0_linear)' fill-opacity='0.5'/%3E%3Crect width='4' height='994' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='711' y1='160.5' x2='592' y2='648' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%233744FF'/%3E%3Cstop offset='1' stop-color='%2313083B' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.confetti{
    @extend .invert;
    background: $darkpurple url('/bgconfetti.png') top repeat-x;
    padding: 40px 0;
}

.seamless{
    
    @extend .invert;
    background: $darkpurple;
    padding: 40px 0;
    background: $darkpurple;
    background-image: linear-gradient(rgba($darkpurple,.7), rgba($darkpurple,.5));
    background-image: linear-gradient(rgba($darkpurple,.7), rgba($darkpurple,.5)), url('/bg-seamless.svg') ;
}


.trapezoid{
    clip-path: polygon(100% 0%, 100% 90%, 0 100%, 0 0);
    margin-bottom: -80px
}

.illu-hand{
    @extend .invert;
    background: $darkpurple url('/illu-hand.svg') no-repeat top left/contain ;
    padding: 30px;
}
