
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Roboto:wght@400;800&display=swap');

@import "~bootstrap/scss/functions";
@import "variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

@import "backgrounds";
@import "cards";
@import "cart";
@import "ghost";

svg{
    .white{fill:$white}
    .primary{fill: $primary}
    .success{fill: $success}
    .light{fill: $light}
    .secondary{fill: $secondary}
    .stroke-primary{stroke: $primary}
    .stroke-success{stroke: $success}
    .stroke-light{stroke: $light}
    .stroke-secondary{stroke: $secondary}
    .stroke-primary-faded{stroke: rgba($primary, 0.5)}
}

.page-content{
    img{max-width: 100%;}
}

body{
    padding-top: $navbar-brand-height + ( $navbar-brand-padding-y * 4);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div#main{
    display: block !important;
}

.invert{
    background-color: $darkpurple;
    .content{
        color: $white;
        h2{ color:$lightpurple;}
        a{color:$teal;}
    }
}


.collective-card{
    color: $black;
}

footer{
    background: $darkpurple;
    color:$white;
    padding: 60px 0;
    margin-top: 60px;
    .nav-link {
        padding:0.2rem 0
    }
    a, .btn.btn-link {
        color: $white
    }
    a:hover {
        color: $teal
    }
    h5 {margin:40px 0 20px}
}

.form-control, div.form-select, .btn,.input-group{
    box-shadow: $input-box-shadow;
}

.shadow-light{
    box-shadow: $input-box-shadow;
}

.input-group{
    .form-control{box-shadow:none}
    .input-group-prepend{background: none;font-size: 0.8rem;}
    .input-group-text {
        padding: 0.375rem 0.4rem;
        margin-bottom: 0;
        font-size: 0.7rem;
    }
}



.btn.btn-link {box-shadow:none}

.card, .navbar, .dropdown-menu{box-shadow: 0px 4px 24px rgba($black, 0.15)}

.collective-card, .card.payment{margin-bottom: $grid-gutter-width;}
.collective-card .card-title{margin-bottom: $grid-gutter-width;}

.airy{
    margin: $grid-gutter-width 0 
}

.card.payment{
    .donation{
        border-bottom: 1px solid $gray-200;
        padding:3px 2px
    }
    a {color: black;}
}

.text-fat{
    font-family: $headings-font-family;
}

.btn.round, .badge.round,.input-group.round{
    border-radius: 20px;
}

.container.content{padding-top: 60px;padding-bottom: 60px;min-height: 500px;}

.collective-content{ 
    img {@extend .img-fluid}
}


a.black{
    color: $black;
}
a.black:hover{
    text-decoration: none;color: $primary;
}


.session-description{
    margin:20px 0;
}



svg.logo{
    max-width:100%
}

.navbar-brand svg {
    max-width: 110px;
}

@include media-breakpoint-up(sm) {
    .navbar-brand svg {
        max-width: 164px;
    }
}

.navbar-nav .dropdown-menu {
    position: absolute; 
    float: none;
}

header .navbar{
    border-left: 5px solid $primary;
}
header .navbar-toggler{
    border:transparent
}

#primary-nav .navbar-nav { 
    a.nav-link {
        color:$gray-700;
        font-weight: 700;
        font-size: 0.8rem;
        text-transform: uppercase;
        svg {
            color:$gray-500;
        }
    }
    a.nav-link:hover, a.nav-link.active {
        color:$purple-brand;
        svg {
            color:$teal;
        }
    }
}

.with-caret{
    display:inline-block;
    width:15px;
    margin-left: -15px;
    @include caret();
}

.with-caret-up{
    display:inline-block;
    width:15px;
    margin-left: -15px;
    @include caret(up);
}

.nav-tabs .nav-link {
    text-transform: uppercase;
    margin-bottom: -3px;
    border: 1px solid transparent;
    border-bottom: 3px solid $gray-200;
}

.nav-tabs .nav-link.active {
    margin-bottom: -3px;
    border: 1px solid transparent;
    border-bottom: 3px solid $primary;
}
.card-header-tabs {
    margin:0;
    border-bottom: 0;
}







h4, h5 {font-family: $font-family-sans-serif; margin:20px 0 10px; text-transform: uppercase;}
h5{font-size: 1rem;line-height: 1.3rem;}
h4{font-size: 1.1rem;line-height: 1.3rem;}
h3{font-size: 1.2rem;line-height: 1.4rem;}
h1{margin:2rem 0}
.no-margin{margin:0}




.modal-header .close {
    padding: 4px 9px;
    margin: -7px -7px -7px auto;
    border: 1px solid $gray-500;
    border-radius: 50%;
}

.session-sponsors{
    a{margin:20px 10px}
}



.match{
    @extend .text-fat;
    @extend .text-success;
}

.match.big{
    font-size: 2rem;
}

.alert.small{padding: 4px;}

.session-info{
    .info-span{
        display: inline-block;
        padding: 10px 15px 10px 0;
    }
}
.session-info.info-sm{
    .display-3{font-size: 1.4rem}
}

.sort{
    @extend .form-control;
    text-transform: uppercase;
    border: 1px solid rgba($blue,.5);
    padding-top: 3px;
    .btn.btn-link{text-transform: uppercase;text-decoration: none;}
}

.sponsors{
    margin-top: 1rem;
    a{display: block;padding:10px 10px;margin-left: -10px;}
    img{max-width: 100%;max-height:25px}
}

.similar{
    background: linear-gradient(rgba($gray-300,.3), rgba($gray-100,.4));
    margin-bottom: -60px;
    padding: 40px 0;
}


@include media-breakpoint-down(sm) {
    .authDropdownLabel span{display:none}
    header a.navbar-brand svg.logo{max-width:110px}
    header .btn{padding: 0.1rem 0.2rem;}
    .match.big{
        font-size: 1.2rem;
    }
}

.StripeElement--complete{
    @extend .is-valid;
}